form {
	width: 700px;
	margin: auto;
	background: rgba(0,0,0,0.8);
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 7px;
}

form h2 {
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 1px;
}

form h4 {
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 15px;
	margin-bottom: 20px;
}

form input, textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
}

textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}

#boton {
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding: 20px;
}

#boton:hover {
	cursor: pointer;
}

@media (max-width: 480px) {
	form {
		width: 100%;
	}
}